<%- include('../layouts/adminHeader1') %>
<section>
    <script>
        function daysInMonth(month, year){
            return new Date(year,month,0).getDate();
        }
    </script>
    <div class="wrapper">
        <div class="body-slide-profile-body">
            <div class="main-container">
                <div class="col-9 wrap-profile user-admin">
                    <div class="profile-frame-ad">
                        <br />
                        <div class="head-profile-frame">
                            <div class="head-title" style="font-weight: 500; font-size: 24px;">QUẢN LÝ THỐNG KÊ
                            </div>
                        </div>
                        <div class="body-profile-frame-change ad-tk">
                            <div class="col-12">
                                <ul class="nav nav-tabs menu-status ">
                                    <li class="stt-list nav-item">
                                        <a class="nav-link link1 active" href="#change1" data-bs-toggle="tab"
                                            data-bs-target="#change1" role="tab" aria-controls="status"
                                            aria-selected="true">Thống kế theo ngày</a>
                                    </li>
                                    <li class="stt-list nav-item">
                                        <a class="nav-link link1" href="#change2" data-bs-toggle="tab"
                                            data-bs-target="#change2" role="tab" aria-controls="status"
                                            aria-selected="true">Thống kế theo tháng</a>

                                    </li>
                                    <li class="stt-list nav-item">
                                        <a class="nav-link link1" href="#change3" data-bs-toggle="tab"
                                            data-bs-target="#change3" role="tab" aria-controls="status"
                                            aria-selected="true">Thống kế theo user</a>

                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="change1" role="tabpanel">
                                        <div class="container">
                                            <canvas id="myChart"></canvas>
                                        </div>
                                        <input type="hidden" class="datadays" value="<%= datamonth %>">
                                        <input type="hidden" class="month" value="<%= month %>">
                                        <input type="hidden" class="year" value="<%= year %>">
                                        <form action="" method="">
                                            <input class="ipgetmonth" type="month" name="getmonth">
                                            <button class="xemngay" type="button">Xem</button>
                                        </form>
                                        <script>
                                            let myChart = document.getElementById('myChart').getContext('2d');
                                            // Global Options
                                            Chart.defaults.global.defaultFontFamily = 'sans-serif';
                                            Chart.defaults.global.defaultFontSize = 18;
                                            Chart.defaults.global.defaultFontColor = '#777';
                                            var dataday = $('.datadays').val()
                                            var month = $('.month').val()
                                            var year = $('.year').val()
                                            var dsngay=[]
                                            for(let day=1;day<=daysInMonth(month,year);day++){
                                                dsngay.push(`${day}/${month}`);                                             
                                            }                                            
                                            let massPopChart = new Chart(myChart, {
                                                type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                                                data: {
                                                    labels: dsngay,
                                                    datasets: [{
                                                        label: 'Doanh thu',
                                                        data: dataday.split(','),
                                                        backgroundColor: [
                                                            'rgba(255, 99, 132, 0.6)',
                                                        ],
                                                    }]
                                                },
                                                options: {
                                                    title: {
                                                        display: true,
                                                        text: 'DOANH THU THÁNG '+month+'/'+year,
                                                        fontSize: 25
                                                    },
                                                    legend: {
                                                        display: true,
                                                        position: 'right',
                                                        labels: {
                                                            fontColor: '#000'
                                                        }
                                                    },
                                                    layout: {
                                                        padding: {
                                                            left: 50,
                                                            right: 0,
                                                            bottom: 0,
                                                            top: 0
                                                        }
                                                    },
                                                    tooltips: {
                                                        enabled: true
                                                    }
                                                }
                                            });                                            
                                        </script>
                                    </div>
                                    <div class="tab-pane" id="change2" role="tabpanel">
                                        <div class="container">
                                            <canvas id="myChart1"></canvas>
                                        </div>
                                        <form action="" method="">
                                            <input class="ipgetyear" type="number" min="1900" max="2099" step="1" value="2021" name="getyear"/>                                            
                                            <button class="xemthang" type="button">Xem</button>
                                        </form>
                                        <input type="hidden" class="datayear" value="<%= datayear %>">
                                        <script>
                                            let myChart1 = document.getElementById('myChart1').getContext('2d');
                                            // Global Options
                                            Chart.defaults.global.defaultFontFamily = 'sans-serif';
                                            Chart.defaults.global.defaultFontSize = 18;
                                            Chart.defaults.global.defaultFontColor = '#777';
                                            var datayear = $('.datayear').val()
                                            let massPopChart1 = new Chart(myChart1, {
                                                type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                                                data: {
                                                    labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
                                                        'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                                                    datasets: [{
                                                        label: 'Doanh thu',
                                                        data: datayear.split(','),
                                                        backgroundColor: [
                                                            'rgba(255, 99, 132, 0.6)',
                                                        ],
                                                    }]
                                                },
                                                options: {
                                                    title: {
                                                        display: true,
                                                        text: 'DOANH THU NĂM 2021',
                                                        fontSize: 25
                                                    },
                                                    legend: {
                                                        display: true,
                                                        position: 'right',
                                                        labels: {
                                                            fontColor: '#000'
                                                        }
                                                    },
                                                    layout: {
                                                        padding: {
                                                            left: 50,
                                                            right: 0,
                                                            bottom: 0,
                                                            top: 0
                                                        }
                                                    },
                                                    tooltips: {
                                                        enabled: true
                                                    }
                                                }
                                            });
                                        </script>
                                    </div>
                                    <div class="tab-pane" id="change3" role="tabpanel">
                                        <div class="container">
                                            <canvas id="myChart2"></canvas>
                                        </div>                                        
                                        <% var users=[]%>
                                        <% var values=[]%>
                                        <% billuser.forEach(function(bill){ %>
                                            <% users.push(bill._id)%>
                                            <% values.push(bill.total)%>
                                        <%}) %>
                                        <input type="hidden" class="listuser" value="<%=users%>">
                                        <input type="hidden" class="listvalue" value="<%=values%>">
                                        <script>
                                            let myChart2 = document.getElementById('myChart2').getContext('2d');
                                            // Global Options
                                            Chart.defaults.global.defaultFontFamily = 'sans-serif';
                                            Chart.defaults.global.defaultFontSize = 18;
                                            Chart.defaults.global.defaultFontColor = '#777';
                                            var arruser = $('.listuser').val()
                                            var arrvalue = $('.listvalue').val()                                            
                                            let massPopChart2 = new Chart(myChart2, {
                                                type: 'horizontalBar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                                                data: {
                                                    labels: arruser.split(','),
                                                    datasets: [{
                                                        label: 'Doanh thu',
                                                        data: arrvalue.split(','),
                                                        backgroundColor: [
                                                            'rgba(255, 99, 132, 0.6)',
                                                            'rgba(255, 99, 132, 0.6)',
                                                            'rgba(255, 99, 132, 0.6)',
                                                            'rgba(255, 99, 132, 0.6)',
                                                            'rgba(255, 99, 132, 0.6)',
                                                            'rgba(255, 99, 132, 0.6)'
                                                        ],
                                                    }]
                                                },
                                                options: {
                                                    title: {
                                                        display: true,
                                                        text: 'DOANH THU THEO USER',
                                                        fontSize: 25
                                                    },
                                                    legend: {
                                                        display: true,
                                                        position: 'right',
                                                        labels: {
                                                            fontColor: '#000'
                                                        }
                                                    },
                                                    layout: {
                                                        padding: {
                                                            left: 50,
                                                            right: 0,
                                                            bottom: 0,
                                                            top: 0
                                                        }
                                                    },
                                                    tooltips: {
                                                        enabled: true
                                                    }
                                                }
                                            });
                                        </script>
                                                                                
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>    
    <script>
        
        $(".xemngay").on('click', function(){
            var getmonth = $(".ipgetmonth").val()            
            $.ajax({
                url:"/admin/statistics/month",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({getmonth:getmonth}),
                success: function(result){                    
                    let dsngaynew=[]
                    for(let day=1;day<=daysInMonth(result.month,result.year);day++){
                        dsngaynew.push(day+'/'+result.month);                                               
                    }
                   massPopChart.destroy()
                   massPopChart = new Chart(myChart, {
                                                type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                                                data: {
                                                    labels: dsngaynew,
                                                    datasets: [{
                                                        label: 'Doanh thu',
                                                        data: result.data,
                                                        backgroundColor: [
                                                            'rgba(255, 99, 132, 0.6)',
                                                        ],
                                                    }]
                                                },
                                                options: {
                                                    title: {
                                                        display: true,
                                                        text: 'DOANH THU THÁNG '+result.month+'/'+result.year,
                                                        fontSize: 25
                                                    },
                                                    legend: {
                                                        display: true,
                                                        position: 'right',
                                                        labels: {
                                                            fontColor: '#000'
                                                        }
                                                    },
                                                    layout: {
                                                        padding: {
                                                            left: 50,
                                                            right: 0,
                                                            bottom: 0,
                                                            top: 0
                                                        }
                                                    },
                                                    tooltips: {
                                                        enabled: true
                                                    }
                                                }
                                            });    
                }
            })
        })

        $(".xemthang").on('click', function(){
            var getyear = $(".ipgetyear").val()            
            $.ajax({
                url:"/admin/statistics/year",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({getyear:getyear}),
                success: function(result){                
                   massPopChart1.destroy()
                   massPopChart1 = new Chart(myChart1, {
                        type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                        data: {
                            labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
                                'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                            datasets: [{
                                label: 'Doanh thu',
                                data: result.data,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.6)',
                                ],
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'DOANH THU NĂM '+result.year,
                                fontSize: 25
                            },
                            legend: {
                                display: true,
                                position: 'right',
                                labels: {
                                    fontColor: '#000'
                                }
                            },
                            layout: {
                                padding: {
                                    left: 50,
                                    right: 0,
                                    bottom: 0,
                                    top: 0
                                }
                            },
                            tooltips: {
                                enabled: true
                            }
                        }
                    });    
                }
            })
        })
    </script>
</section>
</body>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<%- include('../layouts/footer') %>