<%- include('../layouts/adminHeader1') %>
    <section>
        <div class="wrapper">
            <div class="body-slide-profile-body">
                <div class="main-container">
                    <div class="col-9 wrap-profile user-admin">
                        <div class="profile-frame-ad">
                            <br />
                            <div class="head-profile-frame-admin">
                                <div class="head-title" style="font-weight: 500; font-size: 24px;">QUẢN LÝ TẤT CẢ SẢN
                                    PHẨM
                                </div>
                                <div class="head-search-item">
                                    <form action="/admin/products/search-product" class="search-dh search-item-admin"
                                        method="GET">
                                        <input type="text" placeholder="Tìm kiếm sản phẩm" name="search">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="add-item">
                                <button id="btn-add-item"><i class="fa fa-plus" style="color: white" aria-hidden="true"></i> Thêm
                                    mới</button>
                                <button id="btn-print"><i class="fa fa-print" aria-hidden="true"></i> In</button>
                            </div>

                            <div id="modal-add-item" class="modal">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title">Thêm mới sản phẩm</h5>
                                        <button type="button" class="closeAdd btn-close close-footer"
                                            aria-label="Close"></button>
                                    </div>
                                    <form id="formadd" class="formAdd" action="/admin/products/add-product"
                                        method="POST">
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-5 admin-img-edit-item">
                                                    <img id="img-edit-item" class="imgAddPreview"
                                                        src="/img/noimage.jpg">
                                                    <input type="file" class="form-control imgChangeAdd" name="image"
                                                        id="img1" accept="image/png, image/jpeg, image/jpg"
                                                        style="display: none;">
                                                    <label id="btn-edit-img-item" for="img1">Chọn ảnh</label>
                                                </div>
                                                <div class="col-7">
                                                    <div class="div-edit-item">
                                                        <label>Tên sản phẩm</label>
                                                        <div style="display: flex; flex-direction: column">
                                                            <input name="title" type="text" class="nameAdd"
                                                                placeholder="Tên sản phẩm" id="name-edit-item">
                                                            <span class="span-error"></span>
                                                        </div>
                                                    </div>
                                                    <div class="div-edit-item">
                                                        <label>Loại hàng</label>
                                                        <select id="select-item" name="category" class="type-eidt-item">
                                                            <% categories.forEach(function(cat){ %>
                                                                <option value=<%=cat.slug %>><%= cat.title %>
                                                                </option>
                                                                <% }); %>
                                                        </select>

                                                    </div>


                                                    <div class="div-edit-item">
                                                        <label>Đơn giá</label>
                                                        <div style="display: flex; flex-direction: column">
                                                            <input name="price" class="priceAdd" type="text"
                                                                placeholder="Đơn giá" id="price-edit-item">
                                                            <span class="span-error"></span>
                                                        </div>
                                                    </div>

                                                    <div class="div-edit-item">
                                                        <label>Số lượng tồn</label>
                                                        <div style="display: flex; flex-direction: column">
                                                            <input name="quantity" class="quantityAdd" type="text"
                                                                placeholder="Số lượng tồn" id="SL-edit-item">
                                                            <span class="span-error"></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <p style="color: red;" class="validateAdd"></p>
                                            <button type="submit" class="btn btn-danger"
                                                id="btn-save-new-item">Xong</button>
                                            <button type="button"
                                                class="exitAdd btn btn-secondary close-footer">Đóng</button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                            <% if (products.length !=0){ %>
                                <table class="table-admin">
                                    <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Hình ảnh</th>
                                            <th scope="col">Tên sản phẩm</th>
                                            <th scope="col">Loại hàng</th>
                                            <th scope="col">Đơn giá</th>
                                            <th scope="col">Số lượng tồn</th>
                                            <th scope="col">Hoạt động</th>
                                            <th scope="col">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var i=1%>
                                            <% products.forEach(function(product){ %>
                                                <tr class="trClosest">
                                                    <th scope="row">
                                                        <%=i%>
                                                    </th>
                                                    <% i++ %>
                                                        <td class="tdImage" style="height: 120px">
                                                            <%if (product.image !="" ){ %>
                                                                <img class="admin-img-item"
                                                                    src="/img/product_imgs/<%=product._id%>/<%=product.image%>"
                                                                    alt="anh SP01">
                                                                <% } else { %>
                                                                    <img class="admin-img-item" src="/img/noimage.jpg"
                                                                        alt="anh SP01">
                                                                    <% } %>

                                                        </td>
                                                        <td class="tdTitle">
                                                            <%=product.title%>
                                                        </td>
                                                        <td class="tdCategory">
                                                            <%=product.category%>
                                                        </td>
                                                        <td class="tdPrice">
                                                            <%=product.price%>
                                                        </td>
                                                        <td class="tdQuantity">
                                                            <%=product.quantity%>
                                                        </td>
                                                        <td class="tdNote">
                                                            <label class="switch">
                                                                <input type="checkbox" class="blockCbx" value=<%=product.block%> id=<%=product._id%>  
                                                                <%if (product.block==0) { %>checked <% } %> >
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <button id=<%=product._id%> class="edit-item"><i
                                                                    class="fa fa-edit "></i></button>
                                                            <a href="/admin/products/delete-product/<%=product._id%>"
                                                                class="confirmDeletion"><button type="button"
                                                                    class="btn-close btn-xoa"
                                                                    aria-label="Close"></button></a>
                                                        </td>
                                                </tr>
                                                <%}) %>

                                    </tbody>



                                </table>
                                <div id="modal-edit" class="modal">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Chỉnh sửa sản phẩm</h5>
                                            <button type="button" class="closeEdit btn-close close-footer"
                                                aria-label="Close"></button>
                                        </div>
                                        <form id="formedit" class="formEdit" action="" method="POST" enctype="multipart/form-data">
                                            <div class="modal-body">

                                                <div class="row">
                                                    <div class="col-5 admin-img-edit-item">
                                                        <img id="img-edit-item" class="imgEditPreview" src="">
                                                        <input type="file" class="form-control imgChangeEdit"
                                                            name="image" id="img2"
                                                            accept="image/png, image/jpeg, image/jpg"
                                                            style="display: none;">
                                                        <label id="btn-edit-img-item" for="img2">Chọn ảnh</label>
                                                    </div>
                                                    <div class="col-7">
                                                        <div class="div-edit-item">
                                                            <label>Tên sản phẩm</label>
                                                            <div style="display: flex; flex-direction: column">
                                                            <input type="text" id="name-edit-item" class="nameEdit"
                                                                name="title">
                                                                <span class="span-error"></span>
                                                                </div>
                                                        </div>
                                                        <div class="div-edit-item">
                                                            <label>Loại hàng</label>
                                                            <select name="category"
                                                                class="type-eidt-item select-edit-item">
                                                                <option value="">a</option>
                                                            </select>
                                                        </div>


                                                        <div class="div-edit-item">
                                                            <label>Đơn giá</label>
                                                            <div style="display: flex; flex-direction: column">
                                                            <input type="text" class="priceEdit" id="price-edit-item"
                                                                name="price">
                                                                <span class="span-error"></span>
                                                                </div>
                                                        </div>

                                                        <div class="div-edit-item">
                                                            <label>Số lượng tồn</label>
                                                            <div style="display: flex; flex-direction: column">
                                                            <input type="text" class="quantityEdit" id="SL-edit-item"
                                                                name="quantity">
                                                                <span class="span-error"></span>
                                                                </div>
                                                        </div>

                                                        <input type="hidden" class="hiddenImage" name="pimage">
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="modal-footer">
                                                <p style="color: red;" class="validateEdit"></p>
                                                <button type="submit" class=" btn btn-danger"
                                                    id="btn-save-change-item">Xong</button>
                                                <button type="button"
                                                    class="exitEdit btn btn-secondary close-footer">Đóng</button>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <%}else{ %>
                                    <h3 class="text-center">Không có sản phẩm nào</h3>
                                    <%} %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/admin-quanly.js"></script>
    <script>
        $('a.confirmDeletion').on('click', function () {
            if (!confirm('Confirm Deletion ? '))
                return false;
        })
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(".imgEditPreview").attr('src', e.target.result);
                    $(".imgAddPreview").attr('src', e.target.result);
                    
                }
                reader.readAsDataURL(input.files[0]);
            }
        }



        $(".imgChangeAdd").change(function () {
            readURL(this);
        })

        $(".imgChangeEdit").change(function () {
            readURL(this);
        })




    </script>
    <script src="../js/validate.js"></script>
    <script>
        Validator({
            form: '#formadd',
            errorSelect: '.span-error',
            rules: [
                Validator.isRequired('#name-edit-item'),
                Validator.isRequired('#select-item'),
                Validator.isRequired('#price-edit-item'),
                Validator.isRequired('#SL-edit-item')
            ]
        });
        Validator({
            form: '#formedit',
            errorSelect: '.span-error',
            rules: [
                Validator.isRequired('#name-edit-item'),
                Validator.isRequired('#select-item'),
                Validator.isRequired('#price-edit-item'),
                Validator.isRequired('#SL-edit-item')
            ]
        });
    </script>
    <%- include('../layouts/footer') %>