<%- include ('../layouts/header') -%>

    <body>
        <div class="dh-frame">
            <h4>Thông tin đặt hàng</h4>
            <div class="div-total"></div>
        </div>
        <form action="/order/complete" id="form-1" method="POST">
            <div class="wrapper-dh">
                <div class="form-dh">

                    <div>
                        <label><h6>Tên người nhận hàng</h6></label>
                        <label class="sao">(*)</label>
                    </div>
                    <div class="col">
                        <input name="email" value=<%=us.email%> type="hidden">
                        <input name="fullname" id="name" class="form-control" type="text"
                        aria-label="default input example" value="<%=us.fullname %>">
                        <span class="span-error" id="name_error"></span>
                    </div>
                    <div class="dh-h6">
                        <label><h6>Số điện thoại</h6></label>
                        <label class="sao">(*)</label>
                    </div>
                    <div class="col">
                        <input name="phone" id="phone" class="form-control" type="tel"
                         aria-label="default input example" value="<%=us.phone %>">
                        <span class="span-error" id="phone_error"></span>
                    </div>
                    <div class="dh-h6">
                        <label><h6>Thành phố</h6></label>
                        <label class="sao">(*)</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" aria-label="numerphone" name="city" value="Đà nẵng" readonly>
                    </div>
                    <div class="dh-h6">
                        <label><h6>Quận/Huyện</h6></label>
                        <label class="sao">(*)</label>
                    </div>
                    <div class="col">
                        <select id="ward" name="ward" class="form-select" aria-label="Default select example">
                            <option value="">--Chọn Quận/Huyện--</option>
                            <% ward.forEach(function(w){ %>
                                <option value=<%=w.code%>>
                                    <%=w.name%>
                                </option>
                                <% }) %>
                        </select>
                        <span class="span-error" id="wards_error"></span>
                    </div>
                    <div class="dh-h6">
                        <label><h6>Phường/Xã</h6></label>
                        <label class="sao">(*)</label>
                    </div>
                    <div class="col">
                        <select id="commune" name="commune" class="form-select commune" aria-label="Default select example">
                            <option value="">--Chọn Phường/xã--</option>
                        </select>
                        <span class="span-error" id="com_error"></span>
                    </div>
                    <div class="dh-h6">
                        <label><h6>Địa chỉ</h6></label>
                        <label class="sao">(*)</label>
                    </div>
                    <div class="col">
                        <input name="address_detail" id="address" class="form-control" type="address" aria-label="default input example">
                        <span class="span-error" id="note_error"></span>
                    </div>
                    <div class="dh-h6">
                        <h6>Ghi chú</h6>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" aria-label="note">
                    </div>
                    <div>

                        <a href="index.html"><button type="button" class="btn btn-secondary btn-cont btn-continue">
                                Tiếp tục mua hàng
                            </button></a>

                    </div>
                </div>


                <div class="wrapper2">
                    <div class="total-frame total1">
                        <h5> Hóa đơn</h5>
                        <div class="span-total"></div>
                        <table class="table-total">
                            <tr class="total">
                                <th class="text-total text-sp">Sản phẩm
                    </div>
                    <th class="text-total text-sl">Số lượng
                </div>
                <th class="text-total text-gia">Giá
            </div>
            </tr>
            <% var total=0 %>
                <% us.cart.forEach(function(c){ %>
                    <% var sub1 = 0 %>
                    <tr class="total">
                        <td class="text-total text-total1 text-sp">
                            <%=c.title%>
                            
                              
                                <div class="top-total">
                                    <% if (c.ice == 0) { %>
                                        Đá chung
                                    <% } else { %>
                                        Đá riêng
                                    <% } %>, <%= c.size.title %>  
                                </div>
                                <div class="top-total">
                                    <% if (c.topping.length != 0){ %>
                                        <% for (var i=0;i<c.topping.length;i++) { %>
                                            <% if (i != c.topping.length-1 ){ %>
                                                <%= c.topping[i].title + ", "%>
                                            <% } else { %>
                                                <%= c.topping[i].title %>
                                            <% } %>
                                            <% sub1=sub1 + c.topping[i].price %>
                                        <% } %>
                                            
                                        <% }  %>

                                <% var sub = c.quantity* (sub1+c.price+c.size.price) %>
                                <%  total = total + sub %>
                                </div>
                                </div>

                        <td class="text-total text-total1 text-sl">
                            <%= c.quantity%>
                                </div>
                        <td class="text-total text-total1 text-gia">
                            <%= c.quantity* (sub1+c.price+c.size.price) %>
                                </div>
                    </tr>
                    <% }) %>
                        </table>
                        <div class="span-total"></div>
                        <div class="total">
                            <div class="text-total">TỔNG TIỀN: </div>
                            <div class="text-total">
                                <%=total%>đ
                            </div>
                        </div>
                        <input name="totalPrice" value=<%=total%> type="hidden">
                        <button type="submit" class="btn btn-secondary btn-total">
                            ĐẶT HÀNG
                        </button>
                        </div>
                        </div>
        </form>
        <!-- <form name="form-ward" method="POST"> </form> -->

        </div>
    </body>
    <!-- <script>
    document.addEventListener('DOMContentLoaded',function(){
        var wardForm = document.forms['form-ward'];
        var selectAction = document.getElementById('ward');

        selectAction.onchange = function(){
            wardForm.action ='/order/ward/' + selectAction.value;
            wardForm.submit();
        }


    })
</script> -->
<script src="../js/validate.js"></script>
<script>
    Validator({
        form: '#form-1',
        errorSelect: '.span-error',
        rules: [
            Validator.isRequired('#name'),
            Validator.isName('#name'),
            Validator.isRequired('#phone'),
            Validator.isPhone('#phone'),
            Validator.isRequired('#address'),
            Validator.isAddress('#address'),
            Validator.isRequired('#ward'),
            Validator.isRequired('#commune')
           
        ]
    });

</script>


    <script src="socket.io/socket.io.js"></script>
    <script>
        var socket = io()
        var ward = document.querySelector('#ward')
        ward.addEventListener('change', () => {
            var value = ward.value
            console.log(value)
            socket.emit('getcommunes', {
                message: value
            })
            socket.on('communes', (message) => {
                var communes = message.message
                console.log(communes)
                var commune = document.querySelector('#commune')
                var length = commune.options.length
                for (i = length - 1; i > 0; i--) commune.options[i] = null
                for (let i = 0; i < communes.length; i++) {
                    var op = document.createElement('option')
                    op.value = communes[i].slug
                    op.textContent = communes[i].name
                    commune.appendChild(op)
                }
            })
        })
    </script>
    <%- include ('../layouts/footer') -%>