<%- include ('../layouts/header') -%>

<body>
<div class="dh-frame">
    <h4>Thông tin đặt hàng</h4>
    <div class="div-total"></div>
</div>
<form action="">
<div class="wrapper-dh">
    <div class="form-dh">
       
        <div>
            <h6>Tên người nhận hàng</h6>
        </div>
        <div class="col">
            <input type="text" class="form-control" aria-label="First name" value="<%= us.fullname %>" disabled>
        </div>
        <div class="dh-h6">
            <h6>Số điện thoại</h6>
        </div>
        <div class="col">
            <input type="text" class="form-control" aria-label="numerphone">
        </div>
        <div class="dh-h6">
            <h6>Thành phố</h6>
        </div>
        <div class="col">
            <input type="text" class="form-control" aria-label="numerphone" value="Đà nẵng" disabled>
        </div>
        <div class="dh-h6">
            <h6>Quận/Huyện</h6>
        </div>
        <div class="col">
            <select class="form-select" id="ward" aria-label="Default select example">
                <option value="0">---</option>
                <% ward.forEach(function(w){ %>
                    <option value=<%=w.code%> <%if (w.code==code){ %> selected="selected" <% } %>><%=w.name%></option>
                <% }) %>
              </select>
        </div>
        <div class="dh-h6">
            <h6>Phường/Xã</h6>
        </div>
        <div class="col">
            <select class="form-select commune" id="commune" aria-label="Default select example">
                <option value="0">---</option>                
              </select>
        </div>
        <div class="dh-h6">
            <h6>Địa chỉ</h6>
        </div>
        <div class="col">
            <input type="text" class="form-control" aria-label="numerphone">
        </div>
        <div class="dh-h6">
            <h6>Ghi chú</h6>
        </div>
        <div class="col">
            <input type="text" class="form-control" aria-label="numerphone">
        </div>
    
    </div>


    <div class="wrapper2">
        <div class="total-frame total1">
            <h5> Hóa đơn</h5>
            <div class="span-total"></div>
            <div class="total">
                <div class="text-total">Sản phẩm </div>
                <div class="text-total">Số lượng </div>
                <div class="text-total">Giá </div>
            </div>
            <% var sub =0 %>
            <% us.cart.forEach(function(c){ %>
                <div class="total">
                    <div class="text-total text-total1"><%=c.title%> </div>
                    <div class="text-total text-total1"><%= c.quantity%> </div>
                    <div class="text-total text-total1"><%= c.price %> </div>
                    <% sub = sub + (c.price*c.quantity) %>
                </div>
            <% }) %>
            
            <div class="span-total"></div>
            <div class="total">
                <div class="text-total">TỔNG TIỀN: </div>
                <div class="text-total"><%=sub%>đ </div>
            </div>
            <button type="button" class="btn btn-secondary btn-total">
                ĐẶT HÀNG
            </button>
        </div>
    </div>
</form>
<form name="form-ward" method="POST" > </form>
    <div>

        <a href="index.html"><button type="button" class="btn btn-secondary btn-cont">
                Tiếp tục mua hàng
            </button></a>

    </div>
</div>
</body>
<!-- <script>
    document.addEventListener('DOMContentLoaded',function(){
        var wardForm = document.forms['form-ward'];
        var selectAction = document.getElementById('ward');

        selectAction.onchange = function(){
            wardForm.action ='/order/ward/' + selectAction.value;
            wardForm.submit();
        }


    })
</script> -->
<script src="socket.io/socket.io.js"></script>
<script>
    var socket = io()
    var ward = document.querySelector('#ward')
    ward.addEventListener('change',() => {
        var value = ward.value
        console.log(value)
        socket.emit('getcommunes', {
            message: value
        })
        socket.on('communes',(message) => {    
            var communes =message.message
            console.log(communes)
            var commune=document.querySelector('#commune')    
            var length = commune.options.length
            for(i=length-1;i>=0;i--) commune.options[i]=null
            for(let i=0;i<communes.length;i++){
                var op = document.createElement('option')
                op.value=communes[i].slug
                op.textContent=communes[i].name
                commune.appendChild(op)
            } 
        })
    })
</script>
<%- include ('../layouts/footer') -%>