<%- include ('../layouts/header') -%>
<body>
    <% if (typeof cart != "undefined") { %>
    <div class="wrapper">
        <table class="table">
            <thead class="table-color">
                <tr>
                    <th scope="col" class="col-th"></th>
                    <th scope="col" class="col-th">Tên sản phẩm</th>
                    <th scope="col" class="col-th">Số lượng</th>
                    <th scope="col" class="col-th">Đơn giá</th>
                    <th scope="col" class="col-th">Thành tiền</th>
                    <th scope="col" class="col-th"></th>
                </tr>
            </thead>
            <tbody>
                <% var total =0 %>
                <%var j=0, check = false %>
                <% cart.forEach(function(product){ %>
                    <% var sub1 = 0 %>
                    <tr class="tr-item">
                        <th scope="row" class="rowth">
                           <a href="/product/<%= product.slug%>"><img src="..<%=product.image%>" class="img-th"></a>
                        </th>
                        <td class="row1 row11">
                            <div class="flex-cart">
                                <div class="title-cart"><%=product.title%></div>
                                <div class="topping-cart">
                                    <% if (product.topping.length != 0){ %>
                                        <% for (var i=0;i<product.topping.length;i++) { %>
                                            <% if (i != product.topping.length-1 ){ %>
                                                <%= product.topping[i].title + ", "%>
                                            <% } else { %>
                                                <%= product.topping[i].title %>
                                            <% } %>
                                            <% sub1=sub1 + product.topping[i].price %>
                                        <% } %>
                                            
                                        <% }  %>   
                                     
                                                            
                                </div>

                                <% var sub = product.quantity* (sub1+product.price+product.size.price) %>
                                <%  total = total + sub %>
                                <div class="topping-cart">
                                    <% if (product.ice == 0) { %>
                                        Đá chung
                                    <% } else { %>
                                        Đá riêng
                                    <% } %>     
                                    <%= product.size.title %>                           
                                </div>
                               <%if (block[j]==1)  { check = true; %> <p style="color: red;">Hàng tạm hết</p> <%}%> 
                               <% j++ %>
                            </div>
                            </td>
                        <td class="row1">
                            <div class="buttons_added btn-add">
                                <input class="minus is-form" type="button" value="-">
                                <input name="quantity" aria-label="quantity" id="<%=product.idCart%>" class="input-qty" max="20" min="1" name="" type="number"
                                    value= <%= product.quantity %> readonly>
                                <input class="plus is-form" type="button" value="+">
                            </div>
                        </td>
                        <td class="row1 amount" ><%= sub1+product.price+product.size.price %></td>
                        <td class="row1 total_money" ><%= sub %></td>
                        <td class="row1">
                            <a class="btn-close btn-xoa confirmDeletion" href="/cart/clear/<%= product.idCart%>" aria-label="Close"></a>
                        </td>
                    </tr>                
                <% }) %>
                
                
            </tbody>

        </table>
    </div>
    <div class="flex-total">
        <div>
            
            <a href="/product"><button type="button" class="btn btn-secondary btn-cont">
                Tiếp tục mua hàng
            </button></a>
            
        </div>
    <div class="wrapper1">
        <div class="total-frame">
            <h5> Giỏ hàng</h5>
            <div class="span-total"></div>
            <div class="total">
                <div class="text-total">TỔNG TIỀN: </div>
                <div class="text-total total-final "><%=total %> VNĐ</div>
            </div>
            <% if (check == true) { %> 
                <button type="button" class="btn btn-secondary btn-total" disabled>
              <a href="/order"><div class="text-total" style="padding: 10px;"> GIỎ CÓ MÓN ĐÃ HẾT HÀNG</div> </a>
                </button> 
                 <%} else { %> 
                <button type="button" class="btn btn-secondary btn-total">
            <a href="/order"><div style="padding: 10px; color: white;"> ĐẶT HÀNG</div></a>
                </button> 
                 <% } %>
             
        </div>
    </div>
        
    </div>
    <% } else { %>
        <div class="dh-frame dh-empty">
            <img class="img-empty" src="/img/buy1.gif">
            <h4 class="empty-cart">Giỏ hàng của bạn đang trống, hãy lựa chọn sản phẩm nhé</h4>
            <div class="btn-empty">
            
                <a href="/product"><button type="button" class="btn btn-secondary btn-cont">
                    Tiếp tục mua hàng
                </button></a>
                
            </div>
        </div>
        
    <% } %>


    
    <script src="/js/main.js"></script>
    <script>
    function calculateTotal() {
    let cartTotal = 0;
    $('.tr-item .total_money').each(function () {
        var $this = $(this);
        cartTotal += Number($this.text()) || 0;
    });
    $('.total-final').html(cartTotal+ " VNĐ");
}

        var deleteWr=$('.wrapper'),
            deleteFl=$('.flex-total'),
            eHeader=$('header').find('.cartNumber') ;
        $('input.input-qty').each(function () {
            var $this = $(this);
            var id = $this.attr('id'),
                qty = $this.parent().find('.is-form');
            var amount = $this.closest('.tr-item').find('.amount'),
            total = $this.closest('.tr-item').find('.total_money'),
            deleteTr=$this.closest('.tr-item');
            $(qty).on('click', function (e) {
            if ($(this).hasClass('minus')) {
                if ($this.val()==1){
                    if (!confirm('Bạn chắc chắn xóa sản phẩm này ?')) return;
                }
                $.ajax({
                url:"/cart/update/"+id,
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({action: "remove"}),
                success: function(result){
                     if (result.lengthh==0) {
                         deleteFl.remove();
                         deleteWr.html(result.cartNone);
                         eHeader.html("GIỎ HÀNG ("+ result.lengthh + ")");
                     }
                    if (result.quantity==0) {
                        deleteTr.remove();
                        eHeader.html("GIỎ HÀNG ("+ result.lengthh + ")");
                        if (result.check == false){
                        $('.btn-total').prop("disabled",false);
                        $('.text-total').html('ĐẶT HÀNG');
                        }
                    }
                    $this.val(result.quantity);
                    total.html(result.quantity*(Number(amount?.text() || 0)));
                    calculateTotal()
                }
            })
            } else if ($(this).hasClass('plus')) {
                $.ajax({
                url:"/cart/update/"+id,
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({action: "add"}),
                success: function(result){
                    $this.val(result.quantity);
                    total.html(result.quantity*(Number(amount?.text() || 0)));
                    calculateTotal()
                }
            })
            }
        });
    });
    </script>
</body>

<%- include ('../layouts/footer') -%>