<%- include ('../layouts/header') -%>
<br />
<br />
<div class="wrapper">

        <div class="container">
            <div class="row">
                <div class="menu-title">
                    <h2>MENU</h2>
                    <div class="span-line"></div>
                </div>
            </div>
            <div class="row" style="justify-content: center;">
                <div class="col-xl-12 col-lg-12 col-md-10 col-sm-10 ">
                    <ul class="list-menu-ul">
                        <li class="li-center"><a href="/product" class="list-menu-a">ALL</a></li>
                        <% categories.forEach(function(cat){ %>
                            <li class="li-center"><a href="/product/category/<%= cat.slug%>" class="list-menu-a"><%= cat.title %></a></li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>
        

            
            <div class="list-item">
                <% if (products.length != 0){ %>
                <% products.forEach(function(product){ %>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 css-hethang">
                        
                        <a href="/product/<%= product.slug %>">
                            
                                <div class="out-item">Tạm hết hàng</div>
                            <img src="../../img/product_imgs/<%=product._id %>/<%= product.image %>" class="img-item">
                    
                            <h5><%= product.title %> </h5>
                            <h6><%= parseFloat(product.price) %>đ</h6>
                        </a>
                    </div>
                <% }); %>
                <% } else { %>
                    <div class="nothing" style="margin-top:30px">
                        <img class="img-empty" src="/img/shop.png" style="width:20%; margin-bottom: 15px;">
                        <h3 class="text-center">KHÔNG TÌM THẤY SẢN PHẨM NÀO</h3>
                    </div>
                <% } %>
            </div>
        </div>


 
</div>
<%- include ('../layouts/footer') -%>